

$background: #010101;
$text: #f0f0f0;
$subtext: #121212;
$input: #1e1e1e;
$transparent-text: rgba(255, 255, 255, .2);
$transparent: rgba(30, 30, 30, 0.2);
$hover: #0f0f0f;
$hovered: #541500;
$capi: #a52a02;
$golden: linear-gradient(45deg, #c0761c 0%, #ffce41 15%, #f8b641 30%, #df8a09 52.3%, #fcd64e 74.5%, #f9b643 84.7%, #bd6e17 100%)
