@font-face {
    font-family: "capibara";
    src: url(../fonts/Capibara.ttf), url(../fonts/emoji.ttf); 
}

@font-face {
    font-family: "newWorld";
    src: url(../fonts/newWorld.ttf), url(../fonts/emoji.ttf);
}

@font-face {
    font-family: "options";
    src: url(../fonts/Options.ttf), url(../fonts/emoji.ttf);
}

@font-face {
    font-family: "emojis";
    src: url(../fonts/emoji.ttf);
}

@font-face {
    font-family: "dislexic";
    src: url(../fonts/dislexic.ttf);
}
